@{
    ViewData["Title"] = "Error";
}
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            @*<h1>:(</h1>*@
        </div>
        <h2>Something went wrong, Kindly contact administrator :(</h2>
        <p>You can go back to our   <a asp-controller="Login" asp-action="login">Login Page</a></p>

    </div>
</div>
