
@{ ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_Layout.cshtml"; }
<div class="container-fluid mt-2">
    <div class="animated fadeIn">
        <div class="row">


            <!-- /.col-->

        </div>
        <!-- /.row-->

    </div>
</div>
