/*1*/
body {
    background-image: radial-gradient(circle, #8e9eab, #a4b3bc, #bcc8ce, #d4dde0, #eef2f3);
    background-size: cover;
    font-family: Montserrat;
}

.logo {
    width: 213px;
    height: 36px;
    /*background: url('http://i.imgur.com/fd8Lcso1.png') no-repeat;*/
    margin: 30px auto;
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #C73B00;
    margin: 0 auto;
}

    .login-block h1 {
        text-align: center;
        color: #000;
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .login-block input {
        width: 100%;
        height: 42px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        font-size: 14px;
        font-family: Montserrat;
        padding: 0 20px 0 50px;
        outline: none;
    }

        .login-block input#username {
            background: #fff url(../img/u0XmBmv.png) 20px top no-repeat;
            background-size: 16px 80px;
        }

            .login-block input#username:focus {
                background: #fff url(../img/u0XmBmv.png) 20px bottom no-repeat;
                background-size: 16px 80px;
            }

        .login-block input#password {
            background: #fff url(../img/Qf83FTt.png) 20px top no-repeat;
            background-size: 16px 80px;
        }

            .login-block input#password:focus {
                background: #fff url(../img/Qf83FTt.png) 20px bottom no-repeat;
                background-size: 16px 80px;
            }

        .login-block input:active, .login-block input:focus {
            border: 1px solid #ff656c;
        }

    .login-block button {
        width: 100%;
        height: 40px;
        background: #C73B00;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #e15960;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        font-family: Montserrat;
        outline: none;
        cursor: pointer;
    }

        .login-block button:hover {
            background: #C73B00;
        }
