			
					
			<div class="main-header side-header sticky nav nav-item">
				<div class="container-fluid main-container ">
					<div class="main-header-left ">
						<div class="app-sidebar__toggle mobile-toggle" data-bs-toggle="sidebar">
							<a class="open-toggle"   href="javascript:void(0);"><i class="fe fe-align-justify" ></i></a>
							<a class="close-toggle"   href="javascript:void(0);"><i class="fe fe-align-justify" ></i></a>
						</div>
						<div class="responsive-logo">
							
						</div>
					</div>
					<button class="navbar-toggler nav-link icon navresponsive-toggler vertical-icon ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
						<i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
					</button>
					<div class="mb-0 navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0  mg-lg-s-auto">
						<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
							<div class="main-header-right">
								<div class="nav nav-item  navbar-nav-right mg-lg-s-auto">
									<div class="nav-item full-screen fullscreen-button">
										<a class="new nav-link full-screen-link"   href="javascript:void(0);"><i class="fe fe-maximize"></i></a>
									</div>

									<div class="dropdown main-profile-menu nav nav-item nav-link">
										<a class="profile-user d-flex" href="javascript:void(0)"><img src="~/assets/img/users/5.png" alt="user-img" class="rounded-circle mCS_img_loaded"><span></span></a>

										<div class="dropdown-menu">
											@*<div class="main-header-profile header-img bg-primary rounded-top-5 p-3">
												<h6>Joyce Stewart</h6><span>web Designer</span>
											</div>*@
											@*<a class="dropdown-item" asp-area="" asp-page="/Pages/profile"><i class="fe fe-user"></i> My Profile</a>
											<a class="dropdown-item" asp-area="" asp-page="/Pages/profile"><i class="fe fe-edit"></i> Edit Profile</a>
											<a class="dropdown-item" asp-area="" asp-page="/Pages/profile"><i class="fe fe-clock"></i> Activity Logs</a>
											<a class="dropdown-item" asp-area="" asp-page="/Pages/profile"><i class="fe fe-settings"></i> Account Settings</a>*@
											<a class="dropdown-item" href="/v2/Admin/Login/Logout"><i class="fe fe-log-out"></i> Sign Out</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>