		
		<div class="main-footer ht-45">
			<div class="container-fluid pd-t-0 ht-100p">
					<span> Copyright © @DateTime.Now.Year <a   href="https://mokshasoftlabs.com/" target="_blank" class="text-primary">Moksha Softlabs Pvt Ltd</a>.</span>
			</div>
		</div>