@page


<div class="text-center">
    <a href="/v2/Admin/Login/Index" id="hrfLogin"></a>
</div>
<script type="text/javascript">
    var link = document.getElementById('hrfLogin');
    link.click();
    //$('#hrfLogin').trigger('click')
</script>